<div class="cards">
    <app-card-without-content
        title="Example without Content Projection"
        description="This's an example"
    ></app-card-without-content>

    <hr />

    <app-card-single-slot-content>
        <span>An extra text</span>
        <h3 class="title">Example with Single-Slot Content Projection</h3>
        <p class="description">This's an example</p>
    </app-card-single-slot-content>

    <hr />

    <app-card-multi-slot-content>
        <span>An extra text</span>
        <h3 class="title">Example with Multi-Slot Content Projection</h3>
        <p class="description">This's an example</p>
    </app-card-multi-slot-content>
</div>
